
*{
	margin: 0;
	padding: 0;
	font-family: "Ubuntu variable", Ubuntu, -apple-system, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}

:root {
	--theme-color: #000435;
	background-color: #05081c
}

header {
	justify-content: space-between;
	display: flex;
	padding: 12px 0;
	position: relative;
	z-index: 10;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

img.logo {
	padding-left: 16px;
	width: 60px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

a {
	text-decoration: none;
}

a.nav-link {
	color: white;
	padding: 8px;
	text-decoration: none;
}

div.menu-right {
	align-items: center;
}

.join-button {
	padding: 15px;
	color: white;
	background: transparent;
	border: 2px solid white;
	border-radius: 15px;
	transition: .6s ease;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.join-button:hover {
	background: white;
	color:black;
	border: 2px solid black;
}

.txt {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
.relative {
	position: relative;
}

.heroimg {
	width: 100%;
	object-fit: cover;
	top: 0px;
	position: absolute;
	-webkit-filter: brightness(15%);
	-moz-filter: brightness(15%); 
    -o-filter: brightness(15%);
	-ms-filter: brightness(15%); 
	filter: brightness(15%);
}

.text-brand-purple {
	color: #9b599b;
}

.text-white {
	color: white;
}

h1 {
	margin: 0;
}

p {
	margin: 0;
}

.z-10 {
	z-index: 10
}

.absolute {
	position: absolute;
}

.middle {
	text-align: center;
}

.title-hp {
	font-weight: bold;
	color: white;
	font-weight: bold;
}

.subtitle-hp {
	margin-top: 30px;
	color: white;
}

.bold {
	font-weight: bold;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.text-36 {
	font-size: 36px;
}

.text-16 {
	font-size: 16px;
}

.h-450px {
	height: 450px;
}

.srvcolor {
	color: #9b59b6;
}

.pb-15px {
	padding-bottom: 15px;
}

@media (min-width: 640px) {
	.sm\:text-60 {
		font-size: 60px;
	}

	.sm\:text-20 {
		font-size: 20px;
	}

	.sm\:h-689px {
		height: 689px;
	}
}